langchain
langchain-text-splitters
langchain-community
langchain-core
azure-core
azure-search-documents
cachetools
docx
docx2txt
langchain-openai
openpyxl
pandas
pypdf
python-docx
python-dotenv
streamlit
streamlit-chat
unstructured
unstructured-client
